body {
    margin: 0 auto;
    font-family: 'Lekton', sans-serif !important;
}

.navbar-header a {
  text-decoration: none !important;
}

footer span.author {
  float: left;
}

footer span.credit {
  float: right;
}
