<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Some Lambdas and Other Machinery - $title$</title>
        <!-- Theme -->
        <link rel="stylesheet" type="text/css" href="css/default.css" />
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="content">
            $body$
        </div>
    </body>
</html>
